.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: gray; */
    padding: 10px;
}

.chatHeader_right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content:flex-end;
}

.chatHeader_search {
    display: flex;
    align-items: center;
    color: #ebebe0;
    /* background-color: #2f3135; */
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(255, 255, 255, 0.01);
    margin-bottom: 0.5vw;
    margin-top: 0.25vw;
    border: 1px solid lightgray;
    justify-content: center;

}

.chatHeader_search > form >input {
    background: transparent;
    outline-width: 0;
    color: #ebebe0;
    border: none;
}