.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #c6b280;
}

.messageInfo {
    margin-left: 20px;
    font-size: small;
}

.messageTimestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}

.messageInfo > p {
    padding-top: 6px;
    color: #ebebe0;
    font-size: large;
}