.sideNav {
    display: flex;
    flex-direction: column;
    flex: 0.15;
    height: 100vh;
    background: linear-gradient(-90deg,#141211,#3a4548,#141211);
    background-size: 400% 400%;
    animation: gradient 75s ease infinite;
}

.sideNav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #2f3135; */
    color: #ebebe0;
    /* border-bottom: 3px solid #26282c; */
}
.card{
    display: flex;
    max-width: 17rem;
    background-color: rgba(255,255,255,0.05);
    margin: .5vh;
    border-radius: 20px;
}

.card-text{
    display: flex;
    justify-content: center;
    color: #ebebe0;
}

.gotm-title{
    display: flex;
    justify-content: center;
    font-family: 'Alien League Expanded', sans-serif;
    font-size:x-large;
    color:#c6b280;
    background-color: rgb(255, 255, 255, 0);
    border: none;
  
}

.sideNav_top > button {
    width: 300px;
    background-color: #465356;
    color: #ebebe0;
    font-weight: 800;
}

.sidebar__top > button:hover {
    background-color: #3a4548;
    color: #c6b280;
}

.sidebarSpacer {
    flex: 1;
}

.sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #2f3135; */
    color: gray;
}

.sidebar_header {
    display: flex;
    align-items: center;
}

.sideNav_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8f805f;
    padding: 10px;
    border-bottom: 1px solid ;
    margin-bottom: 28px;
}

.sideNav_profileInfo {
    flex: 1;
    padding: 10px;
}

.sideNav_profileInfo > h3 {
    color: #8f805f;
    font-family: 'Alien League Expanded', sans-serif;
}