.sidebarBody:hover > h4 {
    color: #c6b280;
}

.sidebarChannel > h4 {
    display: flex;
    padding-left:  15px;
    padding-top:  15px;
    align-items: center;
    color:#8f805f;
    justify-content: space-between;
}

.sidebarChannel_span{
    font-size: 30px;
    padding: 8px;
}
