.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.15;
    height: 100vh;
    background: linear-gradient(-90deg,#141211,#3a4548,#141211);
    background-size: 400% 400%;
    animation: gradient 75s ease infinite;
}


.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #2f3135; */
    color: #ebebe0;
    /* border-bottom: 3px solid #26282c; */
}
.sidebar__top > button {
    width: 300px;
    background-color: #465356;
    color: #ebebe0;
    font-weight: 800;
}

.sidebar__top > button:hover {
    background-color: #3a4548;
    color: #c6b280;
}

.sidebar__channels {
    flex: 1;
}

.sidebar__addChannels {
    cursor: pointer;
}

.sidebar__addChannels:hover{
    color:#ebebe0;
}

.sidebar__channelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #2f3135; */
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8f805f;
    padding: 10px;
    border-top: 1px solid ;
    margin-bottom: 35px;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: #8f805f;
    font-family: 'Alien League Expanded', sans-serif;
}